<h1>Listing grades</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.name %></td>
        <td><%= grade.status %></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</br>

<div class="grade-container" oncontextmenu="return false;">
  <% @grades.each do |grade| %>
    <%= div_for grade, :class => "grade-item status_#{grade.status}", status: grade.status do %>
      <%= grade.name %>
    <% end %>
  <% end %>
</div>
<br>

<%= link_to 'New Grade', new_grade_path %>
</br>
<input type="text" id="field_new_grade_name"></input>
<div id="button_create_grade">
  CRIAR!
</div>
