<h1>Listing course_descriptions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @course_descriptions.each do |course_description| %>
      <tr>
        <td><%= course_description.name %></td>
        <td><%= course_description.code %></td>
        <td><%= link_to 'Show', course_description %></td>
        <td><%= link_to 'Edit', edit_course_description_path(course_description) %></td>
        <td><%= link_to 'Destroy', course_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course description', new_course_description_path %>
