<%= javascript_include_tag "syllabuses_edit" %>
<h1><%=@syllabus.name%></h1>

<div id="syllabus-container"></div>
<div style="clear:both"></div>

<%= hidden_field_tag 'major_id', @major.id %>
<%= hidden_field_tag 'syllabus_id', @syllabus.id %>

<%= link_to 'Back', major_syllabuses_path %>
