<%= tabs %>
<h1>Listing syllabuses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @syllabuses.each do |syllabus| %>
      <tr>
        <td><%=syllabus.name%></td>
        <td><%= link_to 'Show', major_syllabus_path(@major, syllabus) %></td>
        <td><%= link_to 'Edit', edit_major_syllabus_path(@major, syllabus) %></td>
        <td><%= link_to 'Destroy', major_syllabus_path(@major, syllabus), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syllabus', new_major_syllabus_path(@major) %>
